.control
{
	float:left;
	text-align:center;
	padding:20px;
	height:30px;
	display:table;
}
.control > *
{
	vertical-align:middle;
}
.control form
{
	vertical-align:middle;
	display:table-cell;
}
.control img
{
	margin:2px;
	padding:2px;
	width:30px;
	height:30px;
}
.control button
{
	padding:0px;
	width:35px;
	height:35px;
}
.control input[type=submit]
{
	background-color:#FFFFFF;
	border:none;
	font-size:15px;
	font-weight:600;
}