<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" 
    xmlns="http://java.sun.com/xml/ns/javaee"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- the definitions for the servlets --> 
    <servlet> 
        <servlet-name>HasMain</servlet-name> 
        <servlet-class>has.core.HasMain</servlet-class>
    </servlet> 
      
    

    <!-- the mapping for the servlets --> 
    <servlet-mapping> 
        <servlet-name>HasMain</servlet-name> 
        <url-pattern>/HasMain</url-pattern> 
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
    
    <security-constraint>
    	<web-resource-collection>
    		<url-pattern>/login.jsp</url-pattern>
    		<url-pattern>/unitedit.jsp</url-pattern>
    		<http-method>GET</http-method>
    		<http-method>POST</http-method>
    	</web-resource-collection>
    	<user-data-constraint>
    		<transport-guarantee>CONFIDENTIAL</transport-guarantee>
    	</user-data-constraint>
    </security-constraint>
    
    
    
    
    
 </web-app>
